.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -30px;
}


.sidebar__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 60px;
}


.sidebar__street {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
}

.sidebar__time {
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 73px;
}


/*SOCIAL*/
.social {
    padding: 20px 18px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    max-width: 60px;
    margin-bottom: 184px;
}

.social__item:not(:last-child) {
    margin-bottom: 21px;
}

.sidebar__number {
    margin-bottom: 10px;
}

.sidebar__number a{
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sidebar__call {
    margin-bottom: 20px;
    padding: 9px 19px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    max-width: 180px;
}

.sidebar__call a{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #43FFD2;
}

.sidebar__basket {
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    max-width: 60px;
}