.Teg {
    margin-right: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #43FFD2;
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
    position: relative;
}

.Teg::before {
    content: '';
    background-image: url('../../../../../image/close.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    right: -30px;
    top: 3px;
    position: absolute;
}